extends layout

block content
  h1 Chose region


  .wrapper.prety

    .form-row.mb-3
      label.col-lg-3 	Chose region.
      .col-lg-7#regionsFocus
        input( type="text" id="regions_input" name="regions" autocomplete="off" list="")
        datalist#regions_list

      .col-lg-2
        input( id = "sendRegions" class="btn btn-block btn-outline-secondary" type='submit' value='show') 